* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .layout {   /*ESTO ME ESTILIZA TODO EL BODY*/
    width: 100%;
    height: 100vh;
  
    display: grid; /*UTILIZO GRID LAYOUT*/
    grid:
      "header" auto  /*DEFINO LOS ESPACIOS PARA CADA GRID*/
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px; /*ESE GAP ES EL ESPACIO EN BLANCO QUE SEPARA A CADA SECCION, PODRIA NO USARLO Y QUE QUEDE TODO "PEGADITO"*/
  }
  
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }

  .header {
    background-color: red;
    color: white;
    padding: 50px;
    text-align: center; 
  }
  .main {
    background-color: rgb(166, 255, 0);
    padding: 20px;
    text-align: center;
    font-size: larger;
  }
  .main > a {
    display: block; /* paso el <a> a display block para que no me queden en linea'*/
    color: black;
    padding: 20px;
  }
  .footer {
    background-color: rgb(60, 7, 130);
    color: white;
    font-size: larger;
    padding: 50px;
    text-align: center;
  }