/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%; /*recordá, siempre width 100% indica que va de lado a lado de la pagina, cubre todo su ancho*/
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s; /*el tiempo que tarda en abrir el acordeon para abajo*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {  /*LA CLASE .active SE AGREGA EN EL js*/
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none; /*display:none hace que quede oculto hasta que se clikea en él*/
  overflow: hidden;
}


/*ESTO QUE SIGUE YA ES REFERENTE AL LINK QUE ESTA DEBAJO*/
.main {
  background-color: rgb(166, 255, 0);
  padding: 20px;
  text-align: center;
  font-size: larger;
}
.main > a {
  display: block; /* paso el <a> a display block para que no me queden en linea'*/
  color: black;
  padding: 20px;
}